@import "./styles.css";

/* 레이아웃 */

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

#side {
  position: fixed;
  left: 0;
  top: 0;
  width: 65px;
  background-color: #e0e0e0;
  height: 100%;
  z-index: 1;
}

#content {
  margin: 110px 0;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #ccc;
}

/* 컨테이너 */
.container {
  padding-left: 65px;
}

.row {
  background-color: #fff;
  margin: 0 20px 0 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
}

#friends .row {
  border-bottom: 0;
}

/* 헤더 */
.header {
  background-color: #fff;
  padding: 30px 20px 10px 25px;
}

.header .header_title {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  font-size: 20px;
}
.header .header_title h1 {
  display: inline-block;
}

.header .header_title-icon {
  color: #9e9e9e;
}

.header .header_title-icon i {
  display: none;
  margin: 0 10px;
}
.header .header_title-icon i:nth-child(2) {
  display: inline;
}

.header .header_search {
  margin-top: 10px;
  background-color: #eeeeee;
  border-radius: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.header .header_search-icon {
  margin: 0 5px 0 10px;
  color: #9e9e9e;
}

.header .header_search input {
  font-size: 12px;
  background: transparent;
}

/* 사이드 */

.side {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  border-right: 1px solid #e0e0e0e5;
}

.side .side_main-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}
.side .side_main-icon i {
  margin-bottom: 40px;
  color: #9e9e9e;
}

.side .side_main-icon i:nth-child(1) {
  color: #616161;
}

.side .side_main-icon i:nth-child(3) {
  display: none;
}

/* 메인 */

/* 프로필 */

.profile {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.profile .info {
  display: flex;
  align-items: center;
}

.profile .info .info_photo img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 15px;
}

.profile .info .info_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
}

.profile .info .info_name {
  font-weight: 700;
  margin-bottom: 10px;
}

.profile .info .info_description {
  color: #9e9e9e;
}

/* 생일, 즐겨 찾기 */

.birthday_title,
.bookmark_title,
.channal_title,
.friends_title {
  font-size: 12px;
  padding: 10px 0;
  color: #616161;
}

/* 친구 목록 */

.friend {
  padding: 10px 0;
}

.friend .info {
  display: flex;
  align-items: center;
}

.friend .info .info_photo img {
  width: 40px;
  height: 40px;
  border-radius: 40%;
  margin-right: 15px;
}

.friend .info .info_contents {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
}

.friend .info .info_name {
  font-weight: 700;
  margin-bottom: 5px;
}

.friend .info .info_description {
  color: #9e9e9e;
}

/* 미디어 쿼리 */

/* 0 ~ 1280px - px */
@media (max-width: 1280px) {
}

/* 0 ~ 600px - tablet */
@media (max-width: 600px) {
  .profile .info .info_contents {
    font-size: 12px;
  }
  .friend .info .info_contents {
    font-size: 12px;
  }
}

/* 0 ~ 360px - mobile */
@media (max-width: 360px) {
  /* 모바일 컨테이너 */
  .container {
    padding: 0;
  }
  .row {
    margin: 0 10px;
  }
  /* 모바일 헤더 */
  .header {
    padding: 10px;
    border-bottom: 1px solid #f4f4f4;
  }
  .header .header_title {
    margin: 0;
  }
  .header .header_search {
    display: none;
  }
  .header .header_title-icon i {
    color: #212121;
    display: inline;
  }

  /* 모바일 사이드 */
  #side {
    width: 100%;
    top: initial;
    height: 50px;
    bottom: 0;
  }

  .side {
    border-top: 1px solid #f4f4f4;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 0;
  }

  .side .side_main-icon {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 22px;
  }

  .side .side_main-icon i {
    margin-bottom: 0;
  }

  .side .side_main-icon i:nth-child(3) {
    display: inline;
  }

  /* 모바일 컨텐츠 */

  #content {
    margin: 70px 0;
  }

  .profile .info .info_photo img {
    width: 40px;
    height: 40px;
  }

  .profile .info .info_contents {
    font-size: 10px;
  }

  .friend .info .info_photo img {
    width: 30px;
    height: 30px;
  }

  .friend .info .info_contents {
    font-size: 10px;
  }

  .friend .info .info_description {
    font-size: 6px;
  }

  #footer {
    display: none;
  }
}
